@model ClientEditionViewModel

@{
    ViewData["Title"] = "Client Creation";
}

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="client.Statut" class="control-label"></label>
                <select asp-for="client.Statut" class="form-control"  asp-items="Html.GetEnumSelectList<Common.EntityModels.Statute>()"></select>
                <span asp-validation-for="client.Statut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Societe" class="control-label"></label>
                <input asp-for="client.Societe" class="form-control" />
                <span asp-validation-for="client.Societe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Civil" class="control-label"></label>
                <select asp-for="client.Civil" class="form-control" asp-items="Html.GetEnumSelectList<Common.EntityModels.Title>()"></select>
                <span asp-validation-for="client.Civil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Nom" class="control-label"></label>
                <input asp-for="client.Nom" class="form-control" />
                <span asp-validation-for="client.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Prenom" class="control-label"></label>
                <input asp-for="client.Prenom" class="form-control" />
                <span asp-validation-for="client.Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Adresse" class="control-label"></label>
                <input asp-for="client.Adresse" class="form-control" />
                <span asp-validation-for="client.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.CP" class="control-label"></label>
                <input asp-for="client.CP" class="form-control" />
                <span asp-validation-for="client.CP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Ville" class="control-label"></label>
                <input asp-for="client.Ville" class="form-control" />
                <span asp-validation-for="client.Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Pays" class="control-label"></label>
                <select asp-for="client.Pays" class="form-control" asp-items="@Model.countries"></select>
            </div>
            <div class="form-group">
                <label asp-for="client.Email" class="control-label"></label>
                <input asp-for="client.Email" class="form-control" />
                <span asp-validation-for="client.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Tel" class="control-label"></label>
                <input asp-for="client.Tel" class="form-control" />
                <span asp-validation-for="client.Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>