@model ClientViewModel

@{
    ViewData["Title"] = "Client " + Model.client.ToString();
}


<div class="row">
    <div class="col-md-6 m-auto">
        <form id="SubmitClient" asp-action="PostClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="client.Statut" class="control-label"></label>
                <select asp-for="client.Statut" class="form-control" asp-items="Html.GetEnumSelectList<Common.EntityModels.Statute>()"></select>
                <span asp-validation-for="client.Statut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Societe" class="control-label"></label>
                <input asp-for="client.Societe" class="form-control" />
                <span class="text-danger d-none" id="notValidSociete">Veuillez renseigner une société.</span>
            </div>
            <div class="form-group">
                <label asp-for="client.Civil" class="control-label"></label>
                <select asp-for="client.Civil" class="form-control" asp-items="Html.GetEnumSelectList<Common.EntityModels.Title>()"></select>
                <span asp-validation-for="client.Civil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Nom" class="control-label"></label>
                <input asp-for="client.Nom" class="form-control" />
                <span class="text-danger d-none" id="notValidName">Veuillez renseigner un nom.</span>
            </div>
            <div class="form-group">
                <label asp-for="client.Prenom" class="control-label"></label>
                <input asp-for="client.Prenom" class="form-control" />
                <span asp-validation-for="client.Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Adresse" class="control-label"></label>
                <input asp-for="client.Adresse" class="form-control" />
                <span asp-validation-for="client.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.CP" class="control-label"></label>
                <input asp-for="client.CP" class="form-control" />
                <span asp-validation-for="client.CP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Ville" class="control-label"></label>
                <input asp-for="client.Ville" class="form-control" />
                <span asp-validation-for="client.Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Pays" class="control-label"></label>
                <select asp-for="client.Pays" class="form-control" asp-items="@Model.countries"></select>
            </div>
            <div class="form-group">
                <label asp-for="client.Email" class="control-label"></label>
                <input asp-for="client.Email" class="form-control" />
                <span asp-validation-for="client.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="client.Tel" class="control-label"></label>
                <input asp-for="client.Tel" class="form-control" />
                <span asp-validation-for="client.Tel" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="client.Id" />
            <div class="form-group">
                @if (Model.client.Id == 0)
                {
                    <button type="button" class="btn btn-success">Créer</button>
                }
                else
                {
                    <button type="button" class="btn btn-success" id="submitButton">Enregistrer</button>
                }
                <a class="btn btn-primary" asp-action="Index">Annuler</a>
            </div>
        </form>
        @if (Model.client.Id != 0)
        {
            <form id="DeleteForm" class="d-inline-block" action="/Clients/Delete/@Model.client.Id" method="post">
                <input type="hidden" asp-for="@Model.client.Id" />
                <button type="button" class="btn btn-danger btnDelete" onclick="ConfirmDelete()">Supprimer</button>
            </form>
        }
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Supprimer client</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h4>Etes-vous sûr(e) de vouloir supprimer ce client ?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Annuler</a>
                <a href="#" class="btn btn-success" onclick="DeleteClient()">Confirmer</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        var ConfirmDelete = function () {
            $("#myModal").modal('show');
        }

        var DeleteClient = function () {
            $('#DeleteForm').submit();
        }

        $(document).ready(function () {
            ClientsDetail.Init();
        });
    </script>
}