@{
    ViewData["Title"] = "Menu principal";
}

<div class="text-center">
    <h1 class="display-4">Gestionnaire de factures</h1>
    <p>Gérer vos factures et vos devis en toute simplicité.</p>
</div>
